.header-menu {
    padding-left: 69px;
    padding-right: 58px;
    display: flex;
    justify-content: space-between;
}


.header-menu .header-left {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 30%;
}

.header-left ul {
    display: flex;
    list-style: none;

}

.header-left ul li {
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.header-left ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;

}

.header-left ul li a:hover {
    text-decoration: underline;

}


.header-menu .header-middle {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.header-menu .header-middle .image a img {
    width: 40%;
    height: 100%;
}

.header-menu .header-middle .image a {
    display: flex;
    justify-content: center;
    align-items: center;
}



.header-menu .header-right {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.header-menu .header-right a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-right: 20px;

}

.header-menu .header-right a i {
    width: 20px;
    height: 20px;
}


.header-menu .header-right .btn a {
    background-color: rgb(98 191 98);
    color: rgb(255, 255, 255);
    padding: 11px;
    font-weight: 600;
}

/* sliding area */

.slider-area {
    display: flex;
}

.slider-area .icons {
    width: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.slider-area .icons li {
    padding: 13px;
}

.slider-area .icons li a {
    color: #554e4e;
}

.slider-area .slider {
    width: 88%;
    margin-top: 46px;
}

.slider-area .slider .t-shart {
    background-color: #123b43;
}

.slider-area .slider .panjabi {
    background-color: #680f80;
}

.slider-area .slider .casual {
    background-color: #221026;
}

.slider-area .slider .printed-t-shart {
    background-color: #04485a;
}

.slider-area .slider .winter {
    background-color: #3e1d1d;
}

.slider-area .slider .jacket {
    background-color: #978b64eb;
}


.slider-area .slider .image-details {
    color: #fff;
    height: 500px;
    margin-top: -15px;

}

.slider-area .slider .image-details p {
    margin-left: 50px;
    padding-top: 130px;
}

.slider-area .slider .image-details h1 {
    margin-left: 50px;
    font-size: 55px;
}

.slider-area .slider .image-details .btn {
    height: 32px;
    width: 105px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 57px;
    margin-top: 54px;
}

.slider-area .slider .image-details .btn a {
    text-decoration: none;
    color: #fff;
}

.slider-area .slider .image-details .scroll {
    display: flex;
    justify-content: flex-end;
    padding-right: 72px;
}

.slider-area .slider .image-details .scroll span {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    font-size: 13px;
    font-weight: 700;
    opacity: .5;
    text-transform: uppercase;
}


.slider-area .cSplit-socialText {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    font-size: 12px;
    font-weight: 700;
    opacity: .7;
}

.owl-carousel img {
    height: 500px;
    object-fit: fill;
}

.carousel-slider a svg {
    color: white;
    width: 50px;
    background-color: rgb(4 4 4 / 29%);
}

.slider {
    position: relative;
}

.carousel-slider a.left {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 999;
}

.carousel-slider a.next {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 999;
}

.header .header-collection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header-collection a {
    color: #2b2525;
    padding-left: 19px;
    text-transform: uppercase;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 600;
}

.header .header-collection a:hover {
    text-decoration: none;
}